<!DOCTYPE html>
{% extends "crudapp/base.html" %} {% block body_block %}
<h2 class="p-2 mt-5 text-center display-3">Crud Website</h2>
<p class="display-3 text-center">{{name|cut:'yusuf' }}</p>
<p class="text-center fs-4">
  Check the users Page to view the userList, Check the Adduser Page to add a new
  Item to the user List
</p>
{%if message %}
<p class="text-success fs-4 text-center" id="alert">{{ message }}</p>
{% else %}
<p></p>
{% endif %}

<div>
  <a href="{%  url 'crudapp:add' %}">
    <button class="btn btn-outline-success m-auto d-block">Add User</button>
  </a>

  <a href="{%  url 'crudapp:list' %}">
    <button class="btn btn-outline-success m-auto d-block">List of User</button>
  </a>

  <a href="{% url 'admin:index' %}">
    <button class="btn btn-warning d-block m-auto">Go to admin</button>
  </a>
</div>
{% endblock %}
